.article-detail {
  padding: 100px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.article-detail h2 {
  color: #007bff;
  margin-bottom: 1rem;
}

.article-detail p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.article-detail button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
}

.article-detail button:hover {
  background: #0056b3;
}
